# Presentation files
.runjava-classpath
talk.html

# Eclipse files
.metadata/
.classpath
.project
.settings/
target/
.cache

# IntelliJ files
.idea/
*.iml

# OS specific files
.DS_Store
desktop.ini
Thumbs.db
